body
{
    background: url(fons.jpg);
}

.wrapper 
{
    width:500px; /*Labāk izmantot %*/
    height: 500px;
    border: 3px solid black;
    padding: 10px;/*atkāpe iekšpusē*/
    margin: auto;/*atstarpe līdz ārējam tuvākajam elementam*/

    /*zemāk paraugs vertik. un horizont. centrēšanai*/
    /*position: absolute;
    top:50%; margin-top:-250px;
    left: 50%; margin-left:-250px;*/

    /*bonus dekorācijas*/
    /*font-family: Arial, Helvetica, sans-serif;*/ /*fonti*/
    /*border-radius: 10px;*/ /*apaļi stūri*/
    /*box-shadow: 3px 3px 15px#5E0000;*/ /*ēna*/
    /*opacity: 0.5;*/ /*caurspīdīgums*/
}

.chataZinas
{
    background: rgb(172, 169, 169);
    height: 300px;
    padding: 10px;
    color: rgb(16, 78, 148);
    /*overflow: scroll;*/
    overflow-y: scroll;
}

body
{
    color:rgb(218, 208, 69);
}